:root {
  --app-header-height: 42px;
  --editor-action-height: 44px;
  --title-input-height: 64px;
  --toolbar-height: 45px;
  --h1-font-size: 32px;
  --h2-font-size: 24px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  background-color: var(--secondary-color);
  color: var(--text-color);
}