:root{
   --app-header-height: 42px; 
   --editor-action-height: 44px;
  --title-input-height: 55px;
  --toolbar-height: 45px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  background-color: var(--secondary-color);
  color: var(--text-color);
}
