* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  background-color: var(--secondary-color);
  color: var(--text-color);
}

ul{
  list-style-type: disc;
}
ol{
  list-style-type: decimal;
}