.light {
  --bg-color: ivory;
  --text-color: #242424;
  --button-bg: #bebdbd;
  --button-text: #333;
  --nav-bg: #444;

  /* c --create, u -- update */
  --c-u-border: rgba(157, 190, 188, 0.5);
  --c-u-hover: inset 0 0 0.85em 0em rgba(157, 190, 188, 0.6);
  --c-u-shadow: inset 0 0 0.85em 0em rgba(157, 190, 188, 0.8);
  /* c --create, u -- update */

  /* d -- delete */
  --d-border: rgba(255, 95, 95, 0.5);
  --d-hover: inset 0 0 0.85em 0em rgba(255, 95, 95, 0.6);
  --d-shadow: inset 0 0 0.85em 0em rgba(255, 95, 95, 0.7);
  /* d -- delete */

  /* a -- archive */
  --a-border: rgba(255, 175, 95, 1);
  --a-hover: inset 0 0 0.85em 0em rgba(255, 175, 95, 0.4);
  --a-shadow: inset 0 0 0.85em 0.1em rgba(255, 175, 95, 0.9);
  /* a -- archive */

  /* r -- restore and s - success */
  --r-s-border: rgba(95, 255, 95, 1);
  --r-s-hover: inset 0 0 0.85em 0em rgba(95, 255, 95, 0.4);
  --r-s-shadow: inset 0 0 0.85em 0.1em rgba(95, 255, 95, 0.9);
  /* r -- restore and s - success */

  /* navbar style */
  --box-shadow-style-hover: 4px 4px 6px rgba(15, 139, 141, 0.2),
    5px 10px 35px rgba(15, 139, 141, 0.1), 8px 10px 25px rgba(15, 139, 141, 0.1),
    inset -1px -1px 9px rgba(15, 139, 141, 0.2),
    inset -1px -1px 3px rgba(255, 255, 255, 0.6), inset 1px 1px 8px rgba(255, 255, 255, 1),
    inset 4px 4px 24px rgba(15, 139, 141, 0.15), -5px -5px 15px rgba(255, 255, 255, 0.9);
  --box-shadow-style-active: 2px 2px 3px rgba(15, 139, 141, 0.2),
    3px 5px 18px rgba(15, 139, 141, 0.1), 4px 5px 13px rgba(15, 139, 141, 0.1),
    inset -0.5px -0.5px 5px rgba(15, 139, 141, 0.2),
    inset -0.5px -0.5px 1.5px rgba(255, 255, 255, 0.6),
    inset 0.5px 0.5px 4px rgba(255, 255, 255, 1),
    inset 2px 2px 12px rgba(15, 139, 141, 0.15),
    -2.5px -2.5px 7.5px rgba(255, 255, 255, 0.9);
  /* navbar style */

  --transform-style: scale(0.98);
}

.dark {
  --bg-color: #333;
  --text-color: #f9f9f9;
  --button-bg: #e0e0e0;
  --button-text: #f9f9f9;
  --nav-bg: #fff;

  /* c --create, u -- update */
  --c-u-border: rgba(120, 165, 163, 0.5);
  --c-u-hover: inset 0 0 0.85em 0em rgba(120, 165, 163, 0.6);
  --c-u-shadow: inset 0 0 0.85em 0em rgba(120, 165, 163, 0.6);
  /* c --create, u -- update */

  /* d -- delete */
  --d-border: rgba(255, 95, 95, 0.5);
  --d-hover: inset 0 0 0.85em 0em rgba(255, 95, 95, 0.6);
  --d-shadow: inset 0em 0 0.95em 0em rgba(255, 95, 95, 0.9);
  /* d -- delete */

  /* a -- archive */
  --a-border: rgba(255, 175, 95, 1);
  --a-hover: inset 0 0 0.85em 0em rgba(255, 175, 95, 0.6);
  --a-shadow: inset 0 0 0.85em 0.1em rgba(255, 175, 95, 0.9);
  /* a -- archive */

  /* r -- restore and success */
  --r-s-border: rgba(138, 255, 140, 1);
  --r-s-hover: inset 0 0 0.85em 0em rgba(138, 255, 140, 0.4);
  --r-s-shadow: inset 0 0 0.85em 0.1em rgba(138, 255, 140, 0.9);
  /* r -- restore and s -- success */

  /* navbar style */
  --box-shadow-style-hover: 4px 4px 6px rgba(15, 139, 141, 0.2),
    5px 10px 35px rgba(15, 139, 141, 0.1), 8px 10px 25px rgba(15, 139, 141, 0.1),
    inset -1px -1px 9px rgba(15, 139, 141, 0.2),
    inset -1px -1px 3px rgba(255, 255, 255, 0.6), inset 1px 1px 8px rgba(255, 255, 255, 1),
    inset 4px 4px 24px rgba(15, 139, 141, 0.15),
    -2.5px -2.5px 7.5px rgba(255, 255, 255, 0.9);
  --box-shadow-style-active: 2px 2px 3px rgba(15, 139, 141, 0.2),
    3px 5px 18px rgba(15, 139, 141, 0.1), 4px 5px 13px rgba(15, 139, 141, 0.1),
    inset -0.5px -0.5px 5px rgba(15, 139, 141, 0.2),
    inset -0.5px -0.5px 1.5px rgba(255, 255, 255, 0.6),
    inset 0.5px 0.5px 4px rgba(255, 255, 255, 1),
    inset 2px 2px 12px rgba(15, 139, 141, 0.15),
    -1.25px -1.25px 5px rgba(255, 255, 255, 0.9);
  /* navbar style */

  --transform-style: scale(0.98);
}